<div class="container fade-in">
	<div class="page-header">
		<h1>Design Refinement</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-primary btn-lg" role="button" href="http://cinnamon-course-registration.herokuapp.com/#/login" target="_blank">Click Here To Visit The Web Site</a>
		</div>
		<div class="col-md-12">
			<div class="container">
				<h1>Instructions</h1>
			</div>
			<p>Google Chrome is an awesome browser. You should use it. Please use your username. You don’t have to input a password. Assume the following courses are the only ones in the course catalog:</p>
			<ul>
				<li>Art of Approximation</li>
				<li>Dynamics</li>
				<li>Fundamentals of Machine Shop Operations</li>
				<li>Human Factors in Interface Design</li>
				<li>Materials Science</li>
				<li>Mechanical Design</li>
				<li>Mechanical Prototyping</li>
				<li>Principles of Modern Biology</li>
				<li>Probability and Statistics</li>
				<li>Responsive Drawing and Visual Thinking</li>
				<li>Senior Capstone Program in Engineering</li>
				<li>Thermodynamics</li>
			</ul>
		</div>
		<div class="col-md-12">
			<div class="container">
				<h1>Tasks</h1>
			</div>
			<ul>
				<li>Log in</li>
				<li>Add a class which is a general requirements</li>
				<li>Add a class which is a major requirements</li>
				<li>Add electives that are not your requirements</li>
				<li>Search for course names or professors</li>
				<li>Make sure none of your classes conflict</li>
				<li>Make sure that you have prioritized your classes since you will be automatically registered by the system</li>
				<li>Check the descriptions of courses you don’t know as much about</li>
			</ul>
		</div>
		<div class="col-md-12">
			<div class="container">
				<h1>Questions</h1>
			</div>
			<ul>
				<li>Who teaches Mechanical Prototyping?</li>
				<li>How many classes do you have on Monday?</li>
				<li>What time does Human Factors in Interface Design meet?</li>
				<li>What major are you (according to the website)?</li>
				<li>What required courses have you registered for (according to the website)?</li>
				<li>What is your top priority course (according to the website)?</li>
			</ul>
		</div>
		<div class="col-md-12">
			<div class="container">
				<h1>Documentation of Limitations</h1>
			</div>
			<h5>User Data</h5>
			<ul>
				<li>The user profile only shows template profile (major and year of graduation)</li>
				<li>User cannot see what courses they have already taken because we don’t have that data.</li>
				<li>You cannot actually register using the site.</li>
			</ul>
			<h5>Database</h5>
			<ul>
				<li>The list of courses is incomplete</li>
				<li>Data on website is manufactured</li>
				<li>Prerequisite data is not included</li>
				<li>Data specific to sections is not always available (for instance, if sections are taught by different professors).</li>
				<li>This application is not actually connected to the Registrar in any way.</li>
			</ul>
			<h5>Search features</h5>
			<ul>
				<li>Search query does not autocomplete.</li>
				<li>Search queries look through all of the course information.</li>
				<li>Add courses function under course priority sidebar can give unexpected results.</li>
			</ul>
			<h5>Styling</h5>
			<ul>
				<li>Formatting and GUI are not styled perfectly.</li>
				<li>Site navigation bar is not affixed to the top of the screen.</li>
				<li>Site is not completely responsive to changing window sizes.</li>
				<li>Courses sometimes show up in the same color on the calendar (since we’re currently only pulling from a list of eight colors).</li>
				<li>Courses on course priority list are not color-coded to match courses in calendar.</li>
				<li>Courses are not alphabetized in full course list.</li>
			</ul>
		</div>
	</div>
</div>