<div class="container fade-in">
	<div class="page-header">
		<h1>Interaction Flows</h1>
	</div>
	<p>We determined the high-level interaction flows for each of our personas, based on what they expect to accomplish using our interface.</p>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h3>Sarah The Super Planner</h3>
			<div class="row">
				<div class="col-md-2 col-sm-2 well">
					<p>Search For Courses Using Course Finding Interface</p>
				</div>
				<div class="col-md-1 col-sm-1 arrow-divider">
					<div class="row">
						<div class="arrow-left"></div>
						<div class="arrow-right"></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 well">
					<p>Plan Her Four Years By Adding Classes To A Future Schedule</p>
				</div>
				<div class="col-md-1 col-sm-1 arrow-divider">
					<div class="row">
						<div class="arrow-left"></div>
						<div class="arrow-right"></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 well">
					<p>Add Courses From Scheduler Interface</p>
				</div>
				<div class="col-md-1 col-sm-1">Divider</div>
				<div class="col-md-2 col-sm-2 well">
					<p>Register For Courses By Submitting A Finished Schedule</p>
				</div>
			</div>
			<p>Sarah needs to create a 4-year academic plan. To assemble her plan, she searches for and selects various required and elective courses. Once she has a plan, she knows what she is going to register for, so she then registers.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h3>Trail Blazing Tyler</h3>
			<div class="row">
				<div class="col-md-2 col-sm-2 well">
					<p>Search For Courses Using Course Finding Interface</p>
				</div>
				<div class="col-md-1 col-sm-1 arrow-divider">
					<div class="row">
						<div class="arrow-right"></div>
						<div class="arrow-left"></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 well">
					<p>Add Courses To His Schedule From Search Interface</p>
				</div>
				<div class="col-md-1 col-sm-1 arrow-divider">
					<div class="row">
						<div class="arrow-right"></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 well">
					<p>Register For Courses As He Finds Them Or From Schedule Interface If His Schedule Is Full</p>
				</div>
			</div>
			<p>Tyler needs to find what classes he wants to take that semester. He adds classes he is interested in, then when his course schedule is satisfactory, he registers.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h3>Francis the Follower</h3>
			<div class="row">
				<div class="col-md-2 col-sm-2 well">
					<p>Search For Courses Using Course Finding Interface</p>
				</div>
				<div class="col-md-1 col-sm-1 arrow-divider">
					<div class="arrow-right"></div>
				</div>
				<div class="col-md-2 col-sm-2 well">
					<p>Adds Classes From Search Interface</p>
				</div>
				<div class="col-md-1 col-sm-1 arrow-divider">
					<div class="arrow-right"></div>
				</div>
				<div class="col-md-2 col-sm-2 well">
					<p>Add Courses From Scheduler Interface</p>
				</div>
			</div>
			<p>Francis already knows what classes he needs to take, so he adds these classes and registers.</p>
		</div>
	</div>
</div>