<div class="container fade-in">
	<div class="page-header">
		<h1>Proposal</h1>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>Course registration is very stressful for students. Currently, everyone at Olin uses the website, my.olin.edu, to sign up for courses.  This interface is unwieldy, making registration a labyrinthian challenge. Instead, course registration should be a clean and simple experience so students can focus on high-priority coursework and interesting classes. We plan to explore the process and the interactions involved in course planning and selection.
			</p>
			<p>
			We think that this project will change the status quo for students, faculty, and registrars, by making courses easier to choose, communicating a better mental model of the registration service, and alleviating stress for all involved parties. One solution would be to develop a registration interface that resembles online shopping. In this scenario, students first select desired courses and course scheduling occurs during checkout. This is one possible solution to address user frustration, because scheduling options are readily visible and courses can be easily chosen. 
			</p>
			<p>
			As far as our knowledge goes, the registration process is head-scratching for many, and it is necessary to develop a set of more convenient interactions for all parties involved. To accomplish this, we will interview professors, students, and the registrar to understand their goals and how the registration system can address their needs better. We will meet with users in short sessions so as to not inconvenience them. In these sessions, we will ask what the current problems are with the system, how these vary from student to student, and how the registrar currently deals with these issues. Later on in the process, we will contact these individuals again (with their consent) and ask them for feedback on alternate proposed interfaces.
			</p>
			<p>
			In order to work together and achieve these goals, we will meet both in-class and out of class, acting considerate of other members. We will follow the Team Contract posted in studio and work to make sure that the learning objectives of  all team members are addressed.
			</p>
		</div>
	</div>
</div>

