<div class="container fade-in">
	<div class="page-header">
		<h1>Story Boards</h1>
	</div>
	<p>We Constructed Simple Story Boards Highlighting the Different Ways Our Personas Interract With Our Interface</p>
	<div class="row">
		<div class="col-md-12 col-xs-12 text-center">
			<h2>Trail Blazing Tyler</h2>
			<a class="fancybox" rel="group" href="" alt="..." class="img-thumbnail inspiration-design-image">
				<img ng-src="public/images/tyler_storyboard.JPG" alt="..." class="img-thumbnail">
				<figcaption>Tyler's Interaction</figcaption>
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-xs-12 text-center">
			<h2>Francis The Follower</h2>
			<a class="fancybox" rel="group" href="" alt="..." class="img-thumbnail inspiration-design-image">
				<img ng-src="public/images/francis_storyboard.JPG" alt="..." class="img-thumbnail">
				<figcaption>Francis' Interaction</figcaption>
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-xs-12 text-center">
			<h2>Sarah The Superplanner</h2>
			<a class="fancybox" rel="group" href="" alt="..." class="img-thumbnail">
				<img ng-src="public/images/sara_storyboard.JPG" alt="..." class="img-thumbnail">
				<figcaption>Sara's Interaction</figcaption>
			</a>
		</div>
	</div>
</div>